h4{
    text-align: center;
    height: auto;
    padding: 0;
    margin: 0;
}
* {
    margin:0px;
    padding:0px;
}



#wrapper{
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display:block;
}
#wrapper1{
    width: 75vw;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display:block;
}
#wrapper2{
    width: 75vw;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display:block;
}

#table{
    width: 25vw;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
}

#choropleth{
    width: 50vw;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
    display:block;
}

#radar{
    width: 25vw;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
}

#body{
    width:70vw; 
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
}
#chart{
    width:70vw;
    height: auto; 
    padding: 0;
    margin: 0;
    float: left;
    display:block;
}
#overview{
    width: 50vw;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
}