@import url("https://www.w3schools.com/w3css/4/w3.css");

h1{
    text-align: center;
    height: auto;
    padding: 0;
    margin: 0;
}
* {
    padding: 0;
    margin: 0px auto;
    font-size: 1.0em;
}



#main{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display:inline-block;
}
#upper{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display:inline-block;
}

#body{
    width:25vw; 
    height: auto;
    overflow: hidden;
    float: left;
    display:inline-flex;

}
#chart{
    width:25vw;
    height: 25vw; 
    display:inline-flex;
    float: left;
}
#filter-values{
    width: 25vw;
    font-size: 0.6em;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
}

#choropleth{
    width: 50vw;
    height: 26vw;
    float: left;
    display:inline-flex;
}

#radar{
    width:25vw;
    height: 25vw;
    float: left;
    display:inline-flex;
}

#lower{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display:inline-block;
}

.radarset{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    float: left;
    display:inline-flex;

}
#overviewChart{
    background-color: rgba(219, 250, 240, 0.884);
}

.caption{
    font-size: 2em;
    float: left;
    clear: both;
}